<section class="content">
    <div data-aos="fade-right" class="titulo">
        <hr><span>Servicios principales</span>
    </div>

    <div class="gridServiciosTecnicos" data-aos="fade-up">
        <article class="tarjetaServicio" *ngFor="let item of servicios">
            <div class="imagenContenedor">
                <img [src]="item.imagen" [alt]="item.titulo" loading="lazy" decoding="async">
            </div>
            <div class="cuerpoTarjeta">
                <h2>{{item.titulo}}</h2>
                <p>{{item.descripcion}}</p>
                <ul class="listaCapacidades">
                    <li *ngFor="let cap of item.capacidades">{{cap}}</li>
                </ul>
            </div>
        </article>
    </div>
</section>
