.content .titulo {

    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
}

.content .titulo hr {
    margin: 0;
    margin-right: 0px;
    border: none;
    background-color: black;
}

.contentenedorTarjeta {
    display: grid;
    justify-content: center;
    width: max-content;
    margin-left: auto;
}

.tarjeta {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: white;
    color: black;
    box-shadow: 0px 1px 10px -4px #ff7673;
}

.tarjeta div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: auto;
}

.tarjeta p {

    font-weight: bold;
    text-transform: uppercase;
}

.tarjeta a {
    text-decoration: none;
    color: #ff7670;
    font-weight: bold;
    cursor: pointer;
}

.tarjeta a:hover {
    opacity: 90%;
}

@media (min-width:300px) {
    .titulo {
        width: 90vw;
        margin-left: 5vw;
    }

    .content {
        margin: 2rem 0 6rem 0;
    }

    .content .titulo {
        font-size: 1.5rem;
        margin-bottom: 3rem;
    }

    .content .titulo hr {
        margin-right: 1rem;
        height: 1px;
        width: 3rem;
    }

    .tarjeta {
        width: 80vw;
    }

    .contentenedorTarjeta {
        height: auto;

    }


    .contentenedorTarjeta {
        row-gap: 1rem;
        column-gap: 1rem;
        padding: 0 1rem;
    }

    .tarjeta {
        border-radius: 1rem;
        padding: 0 1rem;
        height: 11.5rem;
    }

    .tarjeta div {
        column-gap: 5rem;
        margin-bottom: 1.3rem;
    }

    .tarjeta a {
        margin-top: 1rem;
        font-size: 13px;
        border-radius: 0.5rem;
    }

    .tarjeta div img {
        width: 5rem;
        height: 2rem;
    }

    .tarjeta a img {
        height: 1rem;
        width: 1rem;
    }

    .tarjeta span {
        font-size: 12px;
    }

    .tarjeta p {
        font-size: 13px;
    }

}


@media (min-width:700px) {
    .content {
        margin: 6rem 0;
    }

    .contentenedorTarjeta {
        height: 25rem;
        grid-template-columns: 41vw 41vw;
    }

    .tarjeta {
        width: auto;
    }

    .titulo {
        width: auto;
        margin-left: 0;
    }


}

@media (min-width:1270px) {
    .content {
        margin: 6vw 0;
    }

    .content .titulo hr {
        height: 0.1vw;
        margin-right: 1vw;
        width: 3vw;
    }

    .content .titulo {

        font-size: 1.5vw;
        margin-bottom: 3vw;
    }

    .contentenedorTarjeta {
        height: auto;
        grid-template-columns: 25vw 25vw;
    }

    .contentenedorTarjeta {
        row-gap: 1vw;
        column-gap: 1vw;
        padding: 0 1vw;
    }

    .tarjeta {
        border-radius: 1vw;
        padding: 0 1vw;
        height: 11.5vw;
    }

    .tarjeta div {
        column-gap: 5vw;
        margin-bottom: 1.3vw;
    }

    .tarjeta a {
        margin-top: 1vw;
        font-size: 1vw;
        border-radius: 0.5vw;
    }

    .tarjeta div img {
        width: 5vw;
        height: 2vw;
    }

    .tarjeta a img {
        height: 1vw;
        width: 1vw;
    }

    .tarjeta span {
        font-size: .85vw;
    }

    .tarjeta p {
        font-size: .9vw;
    }

}