<section class="content">
    <div  data-aos="fade-right" class="titulo">
        <hr><span>Mi educacion</span>
    </div>
    <div data-aos="fade-left"  data-aos-duration="1000" class="contentenedorTarjeta">
        <div class="tarjeta" *ngFor="let data of obecjtEstudios">
            <p>{{data.titulo}}</p>
            <span>{{data.lugar}}</span>
            <div>

                <a target="_blank" href="{{data.linkPreview}}">Certificado <img width="1rem"
                        src="../../../assets/icons/openNewTab.png" alt="New-tab"></a>
                <img src="{{data.imagen}}" alt="imagen">

            </div>
        </div>
    </div>





    <!--<div class="slider-container">
        <img class="slider-item" src="https://images.unsplash.com/photo-1580501170961-bb0dbf63a6df?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2970&q=80" />
        <img class="slider-item" src="https://images.unsplash.com/photo-1580501170888-80668882ca0c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940&q=80" />
        <img class="slider-item" src="https://images.unsplash.com/photo-1572508589584-94d778209dd9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940&q=80" />
    </div>-->
</section>