<div data-aos="fade-right" class="section-header">
        <hr><span>Educación y formación</span>
    </div>
<section class="content">
    

    <div class="gridEducacion" data-aos="fade-up">
        <!-- Columna 1 -->
        <div class="columnaEducacion">
            <h3>Formación Académica</h3>
            <div class="listaTimeline">
                <article class="tarjetaCompacta" *ngFor="let item of formacionAcademica">
                    <h4>{{item.titulo}}</h4>
                    <p>{{item.detalle}}</p>
                </article>
            </div>
        </div>

        <!-- Columna 2 -->
        <div class="columnaEducacion">
            <h3>Cursos y Certificaciones</h3>
            <div class="listaTimeline">
                <article class="tarjetaCompacta" *ngFor="let item of cursosCertificaciones">
                    <h4>{{item.titulo}}</h4>
                    <p>{{item.detalle}}</p>
                </article>
            </div>
        </div>
    </div>
</section>