.content {
    display: flex;
    flex-direction: column;
}

.content .titulo {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 3rem;
}

.content .titulo hr {
    width: 3rem;
    margin: 0;
    margin-right: 0px;
    height: 1px;
    border: none;
    background-color: black;
    margin-right: 1rem;
}

.content form ul li {
    display: flex;
    margin-bottom: 2%;
    flex-direction: column;
}

.li_left {
    float: left;
    width: 48%;
    margin-right: 2%;
}

.content form ul li label {
    margin-bottom: 0.5rem;
}

.content form ul li input {
    border: 1px solid #e3e3e3;
    border-radius: 0.5rem;
    padding-left: 1rem;
    height: 2.5rem;
    box-shadow: 0px 2px 10px 0px #e3e3e3;
    background-color: white;
}

.content form ul li textarea {
    box-shadow: 0px 2px 10px 0px #e3e3e3;
    border: 1px solid #e3e3e3;
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: white;
}

.content form ul li input:focus,
.content form ul li textarea:focus {
    border: 1px solid #f5c0bf;
    box-shadow: 0px 0px 10px 0px #f5c0bf;
    outline: none;

}

.content form ul li button {
    margin: auto;
    margin-top: auto;
    height: 2.2rem;
    font-weight: bolder;
    color: white;
    border: none;
    background-color: rgb(255, 57, 54);
    border-radius: 0.5rem;
    cursor: pointer;
    margin-top: 1rem;
}

.content form ul li button:hover {
    opacity: 80%
}



.content .datosContacto {
    display: flex;
    align-items: center;
    row-gap: 1rem;
    column-gap: 1rem;
}

.content .datosContacto div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    width: 12rem;
    height: 8rem;
    justify-content: center;
    border: 1px solid #e3e3e3;
    box-shadow: 0px 0px 10px 0px #e3e3e3;
}

.content .datosContacto div img {
    width: 2rem;
    display: block;
    padding: 1rem;
    background-color: rgb(255, 57, 54);
    border-radius: 0.5rem;
}

.content .datosContacto div a {
    margin: 1rem;
    color: black;
}


.content .datosContacto div p {
    margin: 0;
    color: #605f5f;
}

ul {
    padding: 0;
}

/* RESPONSIVE DESIGN*/
@media (min-width:300px) {
    .contactenosSection {
        width: 90vw;
    }

    .content form {
        width: 100%;
    }

    .content form ul li button {
        width: 35%;
    }

    .content .datosContacto {
        flex-direction: column;
    }

    .content {

        margin: 2rem 0 12rem 0;
    }

}

@media (min-width:700px) {
    .contactenosSection {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;
    }

    .content .datosContacto {
        width: 100%;
        flex-direction: row;
        justify-content: center;
        margin-top: 1.5rem;
    }

    .content form {
        width: 70%;
    }

    .content form ul li button {
        width: 15%;
    }

    .content {

        margin: 6rem 0 12rem 0;
    }
}

@media (min-width:1270px) {
    .contactenosSection {
        flex-direction: row;
        display: flex;
    }

    .content .datosContacto {
        width: 30%;
        flex-direction: column;
        margin-top: 0
    }
}