<div class="content">
    <div class="titulo">
        <hr><span>Mi portafolio</span>
    </div>
    <p>Desde hace mucho tiempo eh venido viendo y aprendiendo como crear una web, hasta que decidi empezar en este mundo. Eh aqui algunos de mis humildes proyectos</p>
    <div  class="gridPortafolio">
        <div (mouseover)="mouseEncima(data.var)" (mouseout)="mouseFuera(data.var)" class="etiqueta"  *ngFor="let data of dataPortafolio" [ngStyle]="{'background-image':data.imgFondo}">
           <div class="hoveretiqueta" [ngStyle]="{'display':data.var}">
                <p>{{data.info}}</p>
                <a target="_blank" href="{{data.preview}}">Visitar web</a>
                <a target="_blank" href="{{data.repositorio}}">Visitar repositorio</a>
           </div>
        </div>
    </div>

</div>