.content {
    margin: 3rem 0;
}

.content .titulo {display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 3rem;
}

.content .titulo hr {
    width: 3rem;
    margin: 0;
    margin-right: 0px;
    height: 1px;
    border: none;
    background-color: black;
    margin-right: 1rem;
}

.content p {
}

.gridPortafolio {
    display: grid;
    grid-template-columns: 14.4rem 14.4rem 14.4rem 14.4rem;
    column-gap: 1vw;
    margin-top: 2rem;
    row-gap: 1vw;
    animation-duration: 1s;
}

.scrollAnimation {
    overflow-x: hidden;
    width: max-content;
    margin: auto;
}

@keyframes siguienteAnimation {
    0% {
        margin-left: 0;
    }

    50% {
        margin-left: 100%;
    }

    100% {
        margin-left: 0;
    }
}

@keyframes anteriorAnimation {
    0% {
        margin-left: 0;
    }

    50% {
        margin-left: -100%;
    }

    100% {
        margin-left: 0;
    }
}

.gridPortafolio .etiqueta {
    width: 14.4rem;
    text-align: center;
    background-size: cover;
    border-radius: 0.5rem;
    height: 10rem;
    background-position: center top;
}

.gridPortafolio .etiqueta .hoveretiqueta {
    display: inline-block;
    justify-content: center;
    border-radius: 0.5rem;
    animation-name: animacionEtiqueta;
    animation-duration: 0.5s;
    color: white;
    display: none;
    flex-direction: column;
    height: 11rem;
    height: 10rem;font-size: 0.8rem;

}
a {
    text-decoration: none;
    cursor: pointer;
    color: rgb(255, 57, 54);

}a:hover {
    opacity: 80%
}
.gridPortafolio .etiqueta .hoveretiqueta a {
    padding: 0.5rem 0rem;
    background-color: white;
    border-radius: 0.5rem;
    font-weight: bolder;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 0.5rem;
}


@keyframes animacionEtiqueta {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}

.paginacion {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    column-gap: 1rem;
    align-items: center;
}

.paginacion span {background-color: rgb(255, 57, 54);
    color: white;
    border-radius: 1rem;
    cursor: pointer;
    animation-duration: 0.5s;
    animation-name: animationSpan;
    width: 6rem;
    display: flex;
    height: 2rem;
    align-items: center;
    justify-content: center;
}
.paginacion div{
    width: 6rem;
    height: 2rem;
}

@keyframes animationSpan {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}

.paginacion span:hover {
    opacity: 80%;
}