<section class="content flex">
    <div class="secciones">
        <div data-aos="fade-right" class="titulo">
            <hr><span>Impresión 3D y Fabricación Digital</span>
        </div>
        <p data-aos="zoom-in">
            Soluciones en impresión 3D a medida. Desde piezas mecánicas y repuestos funcionales, hasta regalos personalizados, lámparas y tecnología integrada.
            <br> <br>
            Trabajo con manufactura aditiva para materializar ideas, prototipos y diseños físicos, garantizando calidad en los acabados y resistencia para usos prácticos.
            <br> <br>
            ¿Tienes un proyecto en mente? <a href="#app-contactame">Cotiza tu diseño aquí</a>.
        </p>
        <div class="fortalezaActual" data-aos="fade-up">
            <span>SERVICIOS Y PRODUCTOS</span>
            <h2>Diseños personalizados y piezas técnicas</h2>
            <p>Atendemos necesidades tanto comerciales como de uso personal, combinando impresión 3D con tecnología como chips NFC.</p>
            <ul>
                <li>Diseño paramétrico y corte/slicing</li>
                <li>Piezas mecánicas y repuestos</li>
                <li>Regalos personalizados y lámparas</li>
            </ul>
        </div>
    </div>
    <div class="secciones">
        <div class="content-tarjetas" data-aos="fade-left" style="margin-top: 2rem;">
            <div class="tarjeta" *ngFor="let item of productos">
                <p class="title-tarjetas">{{item.name}}</p>
                <p>{{item.descripcion}}</p>
            </div>
            
            <div class="tarjeta tarjetaPrincipal" style="margin-top: 1rem;">
                <p class="title-tarjetas">¿Necesitas una pieza a medida?</p>
                <p>Contáctame con los detalles o medidas para realizar un presupuesto detallado sin compromiso.</p>
            </div>
        </div>
    </div>
</section>
