.content .titulo {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
}

.content .titulo hr {
    margin: 0;
    margin-right: 0px;
    border: none;
    background-color: black;
}

.flex {
    display: flex;
}

p {
    color: #605f5f;
}

.content-skills {
    width: 100%;
    display: grid;
    grid-template-columns: 45% 45%;
    column-gap: 5%;
}

.skills p {
    margin: 0;
    font-weight: bolder;
    color: black;
}

.skills {
    position: relative;
    cursor: pointer;
}

.skills:hover>.txtEmergente {
    display: block;
}

.linea {
    background-color: #dbcfcf;
    position: relative;
}

.porcentajeLinea {
    position: absolute;
}

.txtEmergente {
    display: none;
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    color: gray;
}

.content-tarjetas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.tarjeta {
    background-color: #2a2a2a;
    width: 100%;
    height: auto;
}

.tarjeta .title-tarjetas {
    color: white;
    text-align: center;
}

.tarjetaPrincipal {
    background-color: #ff3936;
}

.tarjetaPrincipal p {
    color: white;
}

.fortalezaActual {
    background-color: white;
    border-left: 4px solid #ff3936;
    box-shadow: 0px 1px 10px -4px #ff7673;
    color: black;
}

.fortalezaActual span {
    color: #ff3936;
    display: block;
    font-weight: bold;
}

.fortalezaActual h2 {
    color: black;
    margin: 0;
}

.fortalezaActual p {
    color: #3a3a3a;
}

.fortalezaActual ul {
    margin-bottom: 0;
    padding-left: 1.1rem;
}

.fortalezaActual li {
    color: #605f5f;
}

a {
    text-decoration: none;
    color: #ff3936;
}

a:hover {
    opacity: 80%;
}

@media (min-width:300px) {
    .flex {
        flex-direction: column;

    }

    .secciones {
        width: 90vw;
    }

    .content-skills {
        margin-left: 0;

    }

    .content-tarjetas {
        margin-left: 0;
        column-gap: 1rem;
        row-gap: 1rem;
        width: 100%;

    }

    .content {
        margin: 2rem 0 6rem 0;
    }

    .content .titulo {
        font-size: 1.5rem;
        margin-bottom: 3rem;
    }

    .content .titulo hr {
        margin-right: 1rem;
        width: 3rem;
    }

    .skills {
        margin-bottom: 1rem;
    }

    .txtEmergente {
        font-size: 0.7rem;
    }

    .content-tarjetas {
        margin-top: 2rem;
    }

    .tarjeta {
        font-size: 0.9rem;
        border-radius: 0.4rem;
    }

    .fortalezaActual {
        border-radius: 0.4rem;
        margin-top: 1.5rem;
        padding: 1rem;
    }

    .fortalezaActual span {
        font-size: 0.75rem;
        margin-bottom: 0.4rem;
    }

    .fortalezaActual h2 {
        font-size: 1.1rem;
    }

    .fortalezaActual p,
    .fortalezaActual li {
        font-size: 0.9rem;
    }

    .content .titulo hr {
        height: 1px;
    }

    .linea {
        height: 1px;
    }

    .porcentajeLinea {
        height: 3px;
        margin-top: -1px;
    }

    .tarjeta {
        border-top: 2px solid rgb(255, 57, 54);
    }
}

@media (min-width:700px) {
    .flex {
        flex-direction: row;

    }

    .secciones {
        width: 50%;
    }

    .content-skills {
        margin-left: 10%;

    }

    .content-tarjetas {
        margin-left: 10%;
        column-gap: 2rem;
        row-gap: 2rem;
        width: 90%;

    }

    .tarjeta {
        width: calc(50% - 1rem);
    }

    .content {
        margin: 6rem 0;
    }

}

@media (min-width:1270px) {
    * {
        font-size: 1vw;
    }

    .content .titulo {
        margin-bottom: 3vw;
    }

    .content .titulo span {
        font-size: 1.5vw;

    }

    .content .titulo hr {
        margin-right: 1vw;
        width: 3vw;
    }

    .skills {
        margin-bottom: 1vw;
    }

    .txtEmergente {
        font-size: 0.7vw;
    }

    .content-tarjetas {
        margin-top: 2vw;
    }

    .tarjeta {
        font-size: 0.9vw;
        border-radius: 0.4vw;
        width: calc(50% - 1vw);
    }

    .fortalezaActual {
        border-left-width: 0.35vw;
        border-radius: 0.4vw;
        margin-top: 1.5vw;
        padding: 1vw;
    }

    .fortalezaActual span {
        font-size: 0.75vw;
        margin-bottom: 0.4vw;
    }

    .fortalezaActual h2 {
        font-size: 1.1vw;
    }

    .fortalezaActual p,
    .fortalezaActual li {
        font-size: 0.9vw;
    }

    .content .titulo hr {
        height: 0.1vw;
    }

    .linea {
        height: 0.1vw;
    }

    .porcentajeLinea {
        height: 0.3vw;
        margin-top: -0.1vw;
    }

    .tarjeta {
        border-top: 0.2vw solid rgb(255, 57, 54);
    }
    .content {
        margin: 6vw 0;
    }

}
