<section class="content flex">
    <div class="secciones">
        <div class="titulo">
            <hr><span>Habilidades</span>
        </div>
        <p>
            Desde que comencé mi viaje en el mundo del desarrollo, he trabajado y creado proyectos retadores
            con el objetivo de crecer en habilidades y experiencias de forma interactiva y dinamica.
            <br> <br>
            Creo sitios web receptivos exitosos que son rápidos, fáciles de usar y construidos con las mejores
            prácticas. El área principal de mi experiencia es el desarrollo front-end, HTML, CSS, JS, la creación de
            aplicaciones web, complementos personalizados, funciones y animaciones.
            <br> <br>
            Visite mi perfil de <a target="_blank"
                href="https://www.linkedin.com/in/jehan-carlos-hurtado-guerrero-b250b3201/">LinkedIn</a> para obtener
            más detalles o simplemente <a href="#app-contactame">contácteme</a>.
        </p>
    </div>
    <div class="secciones">
        <div class="content-skills">
            <div class="skills" *ngFor="let data of dataHabilidades">
                <p>{{data.name}}</p>
                <div class="linea">
                    <div [ngStyle]="{'background-color':data.color,'width':data.porcentaje}" class="porcentajeLinea">
                    </div>
                </div>
                <span class="txtEmergente">{{data.porcentaje}}</span>
            </div>
        </div>
        <div class="content-tarjetas">
            <div class="tarjeta">
                <p class="title-tarjetas">Desarrollador Frontend</p>
                <p style="margin-left: 4%">Creacion de paginas responsivas y dinamicas. uso de framworks y librerias
                    conocidad tales como Angular.</p>
            </div>
            <div class="tarjeta">
                <p class="title-tarjetas">Desarrollador Backend</p>
                <p style="margin-left: 4%">Creacion de Apis-Rest, desarrollo en lenguaje java con framework Spring-Boot
                </p>
            </div>
        </div>

    </div>
</section>