app-asside-menu {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
}

.contenedor main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

hr {
    width: 80%;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgb(137, 186, 199), rgba(0, 0, 0, 0));
    border: none;
}

.copy p {
    color: #605f5f;text-align: center;
}

/* RESPONSIVE DESIGN*/
@media (min-width:700px) {

    hr {

        height: 1px
    }

    .copy p {
        margin: 2rem;

    }
}

@media (min-width:700px) {
    .contenedor {
        display: block;
        grid-template-columns: 20% 80%;
        margin: 0 5%;
    }

    .ancho {
        width: 100%;
    }

}

@media (min-width:1270px) {
    .contenedor {
        display: grid;
        grid-template-columns: 20% 80%;
        margin: 0;
    }

    .ancho {
        width: 90%;
    }

    hr {
        height: 0.1vw;margin: 0.5vw;
    }

    .copy p {
        margin: 2vw;
        font-size: 1vw;
    }
}
.pantallaBienvenida{position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: #ff3936;
    top: 0;
    left: 0;
    animation-duration: 1s;z-index: 5;
}
.pantallaBienvenida::after{content: '';
    width: 150%;
    background: #ff393682;
    height: 100vh;
    position: absolute;
}
.pantallaBienvenida::before{content: '';
    background: #ff393638;
    height: 100vh;
    position: absolute;
    width: 200%;
    z-index: 33;

} 
.loader {border: 5px solid #f3f3f3;
    border-radius: 100%;
    width: 2vw;
    animation: spin 1s linear infinite;
      animation-delay: 0s;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -15px;
    margin-left: -15px;
    opacity: 0;
    animation-delay: 0.5s;
    background-color: #f3f3f3;
}

@keyframes spin {
    0% { transform: rotate(0deg); opacity: 0; } /* ángulo inicial y opacidad oculta */
    50% { opacity: 1; } /* opacidad visible */
    100% { transform: rotate(360deg); opacity: 0; } /* ángulo final y opacidad oculta */
}
@keyframes animatinoLoader {
    from{
        width: 100vw;
    }
    to{
        width: 0;
    }
    
}