<div class="canvas-tecnologico" #canvasTecnologico>
  <div *ngFor="let ic of iconosFlotantes" 
       class="icono-flotante" 
       [style.top]="ic.top" 
       [style.left]="ic.left" 
       [style.animation-delay]="ic.delay" 
       [style.transform]="ic.rotation"
       [style.color]="ic.color"
       [style.filter]="'drop-shadow(0 0 6px ' + ic.color + ')'">
    <svg viewBox="0 0 24 24" fill="currentColor">
      <path [attr.d]="ic.path"></path>
    </svg>
  </div>
</div>
<div class="contenedor" (window:resize)="RecargarValoresDeElementos($event)">
    <app-aside-menu role="banner"></app-aside-menu>
        <main>
        <app-inicio name="app-inicio" id="app-inicio" class="ancho"></app-inicio>
        <hr>
        <app-especialidad name="app-servicios" id="app-servicios" class="ancho"></app-especialidad>
        <hr>
        <app-experiencia name="app-trabajos" id="app-trabajos" class="ancho"></app-experiencia>
        <hr>
        <app-habilidades name="app-impresion3d" id="app-impresion3d" class="ancho"></app-habilidades>
        <hr>
        <div name="app-sobre-jankos" id="app-sobre-jankos" class="ancho">
            <app-resumen></app-resumen>
            <hr>
            <app-educacion></app-educacion>
        </div>
        <hr>
        <app-portafolio name="app-proyectos" id="app-proyectos" class="ancho"></app-portafolio>
        <hr>
        <app-contactame name="app-cotizacion" id="app-cotizacion" class="ancho"></app-contactame>
        <hr>
        <div class="copy">
            <p>&copy; JANKOS | Jehan Carlos Hurtado Guerrero | Todos los derechos reservados</p>
        </div>
    </main>
</div>
<div [ngStyle]="{'animation-name':nameAnimatin,'display':displayanimatin}" class="pantallaBienvenida">
    <div class="loader"></div>
</div>
