<div class="contenedor">
    <app-aside-menu role="header"></app-aside-menu>
    <main>
        <app-inicio name="app-inicio" id="app-inicio" class="ancho"></app-inicio>
        <hr>
        <app-educacion name="app-educacion" id="app-educacion" class="ancho"></app-educacion>
        <hr>
        <app-portafolio name="app-portafoli" id="app-portafoli" class="ancho"></app-portafolio>
        <hr>
        <app-habilidades name="app-habilidades" id="app-habilidades" class="ancho"></app-habilidades>
        <hr>
        <app-resumen name="app-resumen" id="app-resumen" class="ancho"></app-resumen>
        <hr>
        <app-contactame name="app-contactame" id="app-contactame" class="ancho"></app-contactame>
    </main>
</div>