app-asside-menu {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
}

.contenedor {
    display: grid;
    grid-template-columns: 32% 68%;
}

.contenedor main {
    display: flex;
    flex-direction: column;
    align-items: center;
}