.aside_desktop {
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    position: fixed;
    height: 98vh;
    margin: 1vh;
    justify-content: center;
}

.perfil {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.perfil p {

    background-color: #ff0400;
    font-weight: bold;
}

.perfil img {
    object-fit: cover;
}

.navegacion {
    width: 100%;
    display: flex;
}


/*navegacion*/

.aside_desktop .navegacion ul {
    /*se parte el ul en dos colores para omitir un error en diseño de la navegacion*/
    width: 80%;
    background: linear-gradient(to right, #ff3936, hsl(0, 0%, 100%));
    padding: 0;
    margin-left: 20%;
}

.navegacion ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.aside_desktop .navegacion ul li a {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #ff3936;
    width: 100%;
    text-decoration: none;
    color: white;

}

.navegacion ul li:hover .hoverEfecto {
    opacity: 70%;
}

.contactenos ul li:hover {
    opacity: 70%;
}

/* seccion contactenos*/

.contactenos {
    width: 100%;
    bottom: 0;
    position: absolute;
}

.contactenos ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
    list-style: none;
}

.contactenos ul li img {
    cursor: pointer;
}

ul li img {
    filter: invert(1);
}

hr {
    box-shadow: 0px -5px 2px 0px white;
    height: 1px;
    border: 0;
    border-color: white;
    width: 60%;
}

/********* vista de Ipad **********/

@keyframes animationOpen {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.opacity_fondo {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    background: #0f0303da;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-duration: 1s;
    animation-name: animationOpen;
}

.aside_Ipad {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    position: fixed;
    margin: auto;
    justify-content: center;
    text-align: center;
}

.aside_Ipad .navegacion ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid white;
}

.aside_Ipad .navegacion ul {
    width: 80%;
    background: #ff3936;
    padding: 0;
    margin: auto;
}

.aside_Ipad .navegacion ul li a {

    display: flex;
    flex-direction: row;
    align-items: center;
    background: #ff3936;
    width: 100%;
    justify-content: center;
    padding: 0;
    text-decoration: none;
    color: white;
}

.closedMenu {
    position: absolute;
    z-index: 2;
    filter: invert(.95);
}

@media (min-width:300px) {/*las medidas se calculan en rem para un diseño optimo en mobil y ipad*/
    .openMenu {
        position: absolute;
        top: 1rem;
        left: 1rem;
        z-index: 1;
        width: 3rem;
    }
*{font-size:1rem;}

    .aside_Ipad {
        width: 80%;
    }

    .aside_desktop {
        border-radius: 2rem;

    }

    .perfil p {

        padding: 0.1rem 1rem;
        border-radius: 1rem;
    }

    .perfil img {
        width: 6rem;
        border-radius: 6rem;
        height: 6rem;
    }

    .aside_desktop .navegacion ul li a {
        padding-left: 1rem;
        padding-left: 1rem;
    }

    .navegacion ul li {
        height: 3rem;
    }

    .aside_desktop .navegacion ul li a {

        padding-left: 1rem;
        height: 3rem;
    }

    .navegacion ul li a img {
        width: 1.5rem;
        margin-right: 1rem;
    }

    .contactenos ul {
        column-gap: 2rem;
    }

    .contactenos ul li img {
        width: 1rem;
    }

    .aside_Ipad {
        border-radius: 2rem;
        height: 40rem;
    }

    .aside_Ipad .navegacion ul li {
        height: 3rem;
        margin-bottom: 1rem;
    }

    .aside_Ipad .navegacion ul li a {
        height: 3rem;
    }

    .closedMenu {
        width: 1.5rem;
        top: 1rem;
        left: 1rem;
    }

}

@media (min-width:700px) {
    .openMenu {
        position: absolute;
        top: 2rem;
        left: 2rem;
        z-index: 1;
        width: 4rem;
    }

    .aside_Ipad {
        width: 40vw;
    }
}

@media (min-width:1270px) {/*Las medidas se calculan en vw para un diseño optimo en vista desktop y vistas de grandes tamaños*/
    *{font-size:1vw;}

    .aside_desktop {
        border-radius: 2vw;

    }

    .perfil p {

        padding: 0.1vw 1vw;
        border-radius: 1vw;
    }

    .perfil img {
        width: 6vw;
        border-radius: 6vw;
        height: 6vw;
    }

    .aside_desktop .navegacion ul li a {
        padding-left: 1vw;
        padding-left: 1vw;
    }

    .navegacion ul li {
        height: 3vw;
    }

    .aside_desktop .navegacion ul li a {

        padding-left: 1vw;
        height: 3vw;
    }

    .navegacion ul li a img {
        width: 1.5vw;
        margin-right: 1vw;
    }

    .contactenos ul {
        column-gap: 2vw;
    }

    .contactenos ul li img {
        width: 1vw;
    }

    .aside_Ipad {
        border-radius: 2vw;
        height: 40vw;
    }

    .aside_Ipad .navegacion ul li {
        height: 3vw;
        margin-bottom: 1vw;
    }

    .aside_Ipad .navegacion ul li a {
        height: 3vw;
    }

    .closedMenu {
        width: 1.5vw;
        top: 1vw;
        left: 1vw;
    }
}

/* EL diseño esta por partes, la de ipad en 700 y desktop en 12** todos los componentes no tienen
mediaqueris solo los necesarios para el diseño optimo*/