.aside_desktop {
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    position: fixed;
    height: 98vh;
    margin: 1vh;
    justify-content: center;
    border-radius: 2rem;
}

.perfil {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.perfil p {

    background-color: #ff0400;
    padding: 0.1rem 1rem;
    border-radius: 1rem;
    font-weight: bold;
}

.perfil img {
    width: 6rem;
    border-radius: 6rem;
    height: 6rem;
    object-fit: cover;
}

.navegacion {
    width: 100%;
    display: flex;
}


/*navegacion*/

.aside_desktop .navegacion ul {
    /*se parte el ul en dos colores para omitir un error en diseño de la navegacion*/
    width: 80%;
    background: linear-gradient(to right, #ff3936, hsl(0, 0%, 100%));
    padding: 0;
    margin-left: 20%;
}

.navegacion ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 3rem;
    cursor: pointer;
}

.aside_desktop .navegacion ul li a {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #ff3936;
    height: 3rem;
    width: 100%;
    padding-left: 1rem;
    text-decoration: none;
    color: white;
}

.navegacion ul li:hover .hoverEfecto {
    opacity: 70%;
}

.contactenos ul li:hover {
    opacity: 70%;
}

.navegacion ul li a img {
    width: 1.5rem;
    margin-right: 1rem;
}

/* seccion contactenos*/

.contactenos {
    width: 100%;
    bottom: 0;
    position: absolute;
}

.contactenos ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
    list-style: none;
    column-gap: 2rem;
}

.contactenos ul li img {
    width: 1rem;
    cursor: pointer;
}

ul li img {
    filter: invert(1);
}

hr {
    box-shadow: 0px -5px 2px 0px white;
    height: 1px;
    border: 0;
    border-color: white;
    width: 60%;
}

/********* vista de Ipad **********/

@keyframes animationOpen {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.opacity_fondo {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    background: #0f0303da;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-duration: 1s;
    animation-name: animationOpen;
}

.aside_Ipad {
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    position: fixed;
    height: 40rem;
    margin: auto;
    justify-content: center;
    border-radius: 2rem;
    text-align: center;
}

.aside_Ipad .navegacion ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 3rem;
    cursor: pointer;
    border-bottom: 1px solid white;
    margin-bottom: 1rem;
}

.aside_Ipad .navegacion ul {
    width: 80%;
    background: #ff3936;
    padding: 0;
    margin: auto;
}

.aside_Ipad .navegacion ul li a {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #ff3936;
    height: 3rem;
    width: 100%;
    justify-content: center;
    padding: 0;
    text-decoration: none;
    color: white;
}

.openMenu {
    position: fixed;
    top: 2rem;
    left: 2rem;z-index: 1;
}

.closedMenu {
    position: fixed;
    top: 4rem;
    left: 4rem;z-index: 2;
}