<aside [ngStyle]="{'background-color': colorGlobal}">
    <div class="perfil">
        <img src="../../assets/aside-icon.jpg" alt="perfil">
        <p>JEHAN CARLOS HURTADO GUERRERO</p>
    </div>
    <div class="navegacion">
        <ul>
            <li>
                <img src="../../assets/icons/icons-aside/home-outline.svg" alt="home">
                <span>INICIO</span>
            </li>
            <li>
                <img src="../../assets/icons/icons-aside/school-outline.svg" alt="education">
                <span>EDUCACION</span>
            </li>
            <li>
                <img src="../../assets/icons/icons-aside/file-tray-stacked-outline.svg" alt="portafolio">
                <span>PORTAFOLIO</span>
            </li>
            <li>
                <img src="../../assets/icons/icons-aside/code-slash-outline.svg" alt="skills">
                <span>HABILIDADES</span>
            </li>
            <li>
                <img src="../../assets/icons/icons-aside/albums-outline.svg" alt="resume">
                <span>RESUMEN</span>
            </li>
            <li>
                <img src="../../assets/icons/icons-aside/chatbubbles-outline.svg" alt="contact">
                <span>CONTACTAME</span>
            </li>
        </ul>
    </div>
    <div class="contactenos">
        <hr/>
        <ul>
            <li>
                <img src="../../assets/icons/icons-aside/contact/logo-github.svg" alt="logo-github">
            </li>
            <li>
                <img src="../../assets/icons/icons-aside/contact/logo-instagram.svg" alt="logo-instagram">
            </li>
            <li>
                <img src="../../assets/icons/icons-aside/contact/logo-linkedin.svg" alt="logo-linkedin">
            </li>
            <li>
                <img src="../../assets/icons/icons-aside/contact/logo-whatsapp.svg" alt="logo-whatsapp">
            </li>
        </ul>
    </div>
</aside>