/* You can add global styles to this file, and also import other style files */

html,
body,
app-root {
    height: 100%;
    margin: 0;
}
html{

    display: inherit;overflow-y: scroll;
    scroll-behavior: smooth;
}