/* You can add global styles to this file, and also import other style files */

html,
body,
app-root {
    
    margin: 0;
}
html{

    display: inherit;overflow-y: scroll;
    scroll-behavior: smooth;
    background-color: white;
    color:black;
    font-family: Arial, Helvetica, sans-serif;

}
/*----------*/
