<section class="contenedor">
  <div
    data-aos="fade-down"
    class="perfil"
    (mousemove)="mouseMove($event)"
    [ngStyle]="{ 'background-position': positionBackground }"
  >
    <h1>
      <span id="text1" class="word">SOPORTE TI & DESARROLLO WEB.</span>
    </h1>
    <div class="linea_contenedo">
      <div class="linea"></div>
    </div>
  </div>

  <div class="presentacion">
    <p data-aos="zoom-in" style="color: black">HOLA</p>
    <p data-aos="zoom-in" class="name">SOY JEHAN CARLOS HURTADO GUERRERO</p>
    <p data-aos="zoom-in" style="color: #605f5f">
      Tecnologo en Mecatronica y estudiante de Ingenieria de Sistemas. Mi fuerte actual es el soporte TI,
      mantenimiento de impresoras y equipos de computo; complemento ese perfil con desarrollo web,
      automatizacion y soluciones digitales.
    </p>
    <div>
      <div data-aos="fade-right">
        <a class="contactame" href="#app-contactame">Contactame</a>
      </div>
      <div data-aos="fade-left">
        <a
          class="leerMas"
          target="_blank"
          href="https://www.linkedin.com/in/jehan-carlos-hurtado-guerrero-b250b3201/"
          >LinkedIn</a
        >
      </div>
    </div>
  </div>
</section>
