<section class="contenedor" >
    <div class="perfil">
        <img src="../../../assets/perfil-icon2.jpg" alt="perfil-icon">
        <h1>
            <span id="text1" class="word ">WEB DEVELOPER.</span>
        </h1>
        <div class="linea_contenedo">
            <div class="linea">

            </div>
        </div>
    </div>

    <div class="presentacion">
        <p style="color:black">¡ HOLA !</p>
        <p class="name">SOY JEHAN CARLOS HURTADO GUERRERO</p>
        <P style="color: #605f5f">Soy un apacionado al desarrollo web con muchas ganas de aprender dia a dia desarollando todo tipo de retos. </P>
        <div>
            <a class="contactame"  href="#app-contactame">Contactame</a>

            <a class="leerMas" target="_blank" href="https://www.linkedin.com/in/jehan-carlos-hurtado-guerrero-b250b3201/">Leer mas</a>
        </div>

    </div>
</section>